<h2> ALL BOOK ENTRIES </h2>
<% @book_entries.each do |book_entry| %>
<a href="/book_entries/<%= book_entry.id %>">


<%if authorized_to_edit?(book_entry)%>

Title: <%= book_entry.title %>
<br>
Author: <%= book_entry.author %>
<br>
Genre: <%= book_entry.genre %></p>
<p> By <%=book_entry.user.name%></p>
<%end%>

<%end%>
<a href="/">Return to the home page</a>