SHOW PAGE FOR A BOOK ENTRY
<br><br>
TItle:<%= @book_entry.title %>  
<br>
Author:<%= @book_entry.author %>  
<br>
Genre:<%= @book_entry.genre %>
<br><br>

<%if flash[:book_entry] %>
<h3><%= flash[:book_entry] %></yh3h3>
<% end %>
<br><br>

 <% if authorized_to_edit?(@book_entry) %> 
<a href="/book_entries/<%=@book_entry.id%>/edit">Edit Entry</a>
 &nbsp;
<a href="/">Return to the home page</a>

<form class="" action="/book_entries/<%=@book_entry.id%>"
 method="post">
 <input type="hidden" name="_method" value="DELETE"> 
 <input type="submit" name="" value="Delete this Entry"> 
</form>

 <%end%>
 

 